* {
  margin: 0;
}

body {
  margin: 2em;
  background: #dbe4ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    border: .2em solid #91a7ff;
    justify-content: center;
    border-radius: 25px;
}

.display {
    margin: 1em;
    display: grid;
    width: 80%;
    padding: 2.5em;
    border-radius: 25px;
}

.the-grid {
    display: grid;
    font-size: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 25px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: .5em;
    transition: all 0.3s ease;
}

[class^="gridButton"] {
    font-size: .75em;
    box-sizing: border-box;
    padding: .5em;
    border-radius: .5em;
}

[class^="gridButton-="] {
  grid-column: span 2;
}

.light {
    opacity: .33;
}
